:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;

}
@font-face {
  src: url(../assets/fonts/barlow/Barlow-Regular.ttf);
  font-family: barlow;
}
*{
  margin: 0px;
}