header{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #f0f0f0;
    background-color: #000000;
    position: fixed;
    height: 8vh;
    font-family: Courier, monospace;
    z-index: 100;
}
.logo{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

}
.logo-image{
    background-size: cover;
    width: 17%;
}
.title-top{
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.profile-account{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



